.wrapper {
  left: 0;
  right: 0;
  bottom: 0;
  top: calc(100% - var(--button_lg));
  transition: top var(--speed_fast);
  overflow: hidden;
  position: fixed;
  z-index: 1;

  &.open {
    top: 0;
  }

  .menu_wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: var(--background);
    box-shadow: 0 0 30px 0 var(--shadow);
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: calc(100% - var(--padding_sm) * 2);
      margin: auto;
      .left_nav {
        width: calc(var(--button_lg) * 2);
        display: flex;
      }
    }
  }

  .quick_nav {
    color: var(--text);
    display: flex;
    justify-content: center;
  }

  .section {
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--padding);

    .menu {
      /* color: ${({ theme }) => theme.link }; */
      padding: 0;
      margin: 0;
      list-style: none;
      /* li {
        a {
          color: ${({ theme }) => theme.link };
          &:hover {
            color: var(--text);
          }
        }
        &.current {
          color: var(--text);
          a {
            color: var(--text);
          }
        }
      } */
      .current {
        color: var(--text);
        .link {
          color: var(--text);
        }
      }
    }
  }

  .button {
    border: 0;
    width: var(--button_lg);
    height: var(--button_lg);
    cursor: pointer;
    background-color: transparent;
    color: var(--text);
  
    &.toggleMenu {
      position: relative;
      color: transparent;
    }
    &.toggleMenu:before, &.toggleMenu:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--button_lg) * 0.5 - var(--border_thick) * 0.5);
      height: 0;
      width: calc(var(--button_lg) / 2);
      left: calc(var(--button_lg) / 4);
      border-bottom: var(--border_thick) solid var(--text);
      transition: transform var(--speed_fast);
    }
  }
  .button[disabled] {
    opacity: 0;
    cursor: default;
  }
  .button:before {
    margin-top: -3px;
    color: var(--text);
  }
  .button:after {
    margin-top: 3px;
    color: var(--text);
  }
  .button.open:before {
    transform: rotate(-45deg) translate(-2px, 2px);
  }
  .button.open:after {
    transform: rotate(45deg) translate(-2px, -2px);
  }

  .toggleLanguage {
    width: var(--button_sm);
    height: var(--button_sm);
    margin-left: var(--padding_sm);
    border-radius: 100%;
    border: var(--border_thick) solid var(--background);
    background-color: var(--background);
    border-color: var(--text);
    color: var(--text);
    text-indent: var(--button_sm);
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .toggleLanguage:before, .toggleLanguage:after {
    content: '';
    display: block;
    position: absolute;
  }
  .toggleLanguage:before {
    border-radius: 100%;
    background-color: var(--background);
    border: var(--border_thick) solid var(--text);
    top: calc(var(--border_thick) * -1);
    left: calc(var(--button_sm) * 0.187);
    width: calc(var(--button_sm) * 0.25);
    height: calc(var(--button_sm) - var(--border_thick) * 2);
  }
  .toggleLanguage:after {
    border-bottom: var(--border_thick) solid var(--text);
    top: calc(var(--button_sm) * 0.5 - var(--border_thick) - var(--border_thick) / 2);
    left: 0;
    width: 100%;
  }

  .toggleTheme {
    width: var(--button_sm);
    height: var(--button_sm);
    border: var(--border_thick) solid var(--text);
    border-radius: 100%;
    background-color: var(--background);
    color: transparent;
    overflow: hidden;
    bottom: calc(var(--button_lg) * 0.5 - var(--button_sm) * 0.5);
    left: var(--padding_sm);
    z-index: 1;
    transition: transform var(--speed_fast);
    transform: rotate(180deg);
    cursor: pointer;
  }
  .toggleTheme:before {
    content: '';
    display: block;
    border-radius: 100%;
    background-color: var(--text);
    width: calc(var(--button_sm) - var(--border_thick) * 4);
    height: calc(var(--button_sm) - var(--border_thick) * 4);
    position: absolute;
    top: var(--border_thick);
    left: var(--border_thick);
  }
  .toggleTheme:after {
    content: '';
    display: block;
    border-radius: calc(var(--button_sm) * 0.5) 0 0 calc(var(--button_sm) *0.5);
    width: calc(var(--button_sm) * 0.5 - var(--border_thick));
    height: 100%;
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
  }

  .fontSize {
    .button {
      cursor: pointer;
      height: var(--button_lg);
      width: var(--button_lg);
      color: var(--text);
      background-color: transparent;
      border: 0;
    }
  }

  &.light {
    .toggleTheme {
      transform: rotate(0deg);
    }
  }
}

@media screen and (max-width: 599px) {
  .wrapper {
    .menu_wrapper {
      .toggleLanguage, .toggleTheme {
        font-size: 0;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .wrapper {
    .menu_wrapper {
      .container {
        max-width: calc(var(--breakpoint_sm) - var(--padding_sm) * 2);
      }
    }
  }
}
